includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 6

    ignoreErrors:
#        - '#Access to an undefined property App\\Models\\[a-zA-Z0-9::a-zA-Z]#'
#
    excludePaths:
        - app/Http/Helpers/XmlHelper.php
#
#    checkMissingIterableValueType: false
